:root{
  --contentBlue: #00123E;
  --easyWhite: #EFEFEF;
  --grayish: #babdb6;
  --lightBlue: #18479B;
  --linkBlue: #00B1FF;
  --darkBlue: #09152D;
  --tableBlue: #001C60;
  --facebook: #EFEFEF;
  --twitter: #1DA1F2;
  --googleplus: #DD4B39;
  /* Purkynka color scheme */
  --pred: #eb1b25;
  --pgreen: #14a25f;
  --pblue: #18479b;
}

@font-face {
  font-family: Roboto;
  font-weight: 200;
  font-style: normal;
  src: url(../webfonts/Roboto-Thin.ttf);
}

@font-face {
  font-family: Roboto;
  font-weight: 400;
  font-style: normal;
  src: url(../webfonts/Roboto-Regular.ttf);
}

@font-face {
  font-family: Roboto;
  font-weight: 700;
  font-style: normal;
  src: url(../webfonts/Roboto-Medium.ttf);
}

@font-face {
  font-family: Roboto;
  font-weight: 900;
  font-style: normal;
  src: url(../webfonts/Roboto-Bold.ttf);
}


*{
  font-family: Roboto, Helvetica, Arial, Sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/****************/

body{
  scroll-behavior: smooth;    
  font-family: Roboto, Helvetica, Arial, Sans-serif;
  color: var(--easyWhite);
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
}


.dropdown-toggle::after{
    font-family: "Font Awesome 5 Free"; font-weight: 900; content: "\f0d7"; margin-left: 0.5em;
}
.d-none{
    display: none;
}
.list-nostyle{
    list-style-type: none;
}
.weblink{
  color: var(--linkBlue);
  text-decoration: underline;
}

/****************/
header#header{
  width: 100%;
  min-height: 100vh;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

/****************/
#mainInfo{
  margin-top: -18px;
  font-weight: 400;
  font-size: 16px;
  color: var(--easyWhite);
}
#mainInfo span{
  padding-left: 20px;
  padding-right: 20px;
}

#mainInfo span:nth-child(2){
  border-right: 1px solid var(--easyWhite);
  border-left: 1px solid var(--easyWhite);
}

/****************/
#mainnav-wrap{
  height: 80px;
  flex-shrink: 0;
}

nav#mainnav{
  position: fixed;
  z-index: 1020;
  top: 0;
  left: 0;
  padding: 0 20px;
  min-height: 80px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  transition: background-color .25s;
}

nav#mainnav.scrolled{
  background-color: var(--darkBlue);
}

nav#mainnav .navbar-toggler{
  display: none;
  font-size: 32px;
  align-items: center;
  padding: 16px;
  background: none;
  border: none;
  cursor: pointer;
}

#nav-brand{
  padding: 16px;
  display: flex;
  align-items: center;
  color: var(--easyWhite);
  font-weight: 400;
  font-size: 32px;
}
#main-logo{
  margin: 0;
  margin-right: 18px;
  width: auto;
  height: 48px;
}

nav#mainnav .nav{
  display: flex;
  list-style-type: none;
}
nav#mainnav .nav > li > a{
  display: flex;
  height: 100%;
  align-items: center;
  padding: 8px 16px;
  font-size: 24px;
  font-weight: 400;
  color: var(--grayish);
  transition: color .25s;
  text-decoration: none;
}

nav#mainnav .nav .fas, nav#mainnav .nav .far, .contact-icons *{
  font-size: 20px;
  margin-right: 6px;
}

nav#mainnav .nav > li > a:hover{
  color: white;
}

@media screen and (max-width: 768px) {
  nav#navbar{
    flex-wrap: wrap;
  }
  nav#navbar .navbar-toggler{
    display: flex;
  }
}

/****************/
.contact-icons{
  display: flex;
  flex-wrap: nowrap;
  margin-right: 5.5px;
  font-size: 15px;
}
.contact-icons .fa-map-marker-alt{
  font-size: 16px !important;
}
.contact-icons .fa-phone{
  margin: 10px 0 0 -10px;
  font-size: 18px !important;
}

/****************/
#mainHeadline{
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 100%;
  width: 100%;
  flex-grow: 1;
}

#headline-background{
  z-index: -1;
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: fixed;
  top: 0;
  left: 0;
}

#mainHeadline-text{
  color: var(--easyWhite);
  text-align: right;
  font-family: Roboto;
  font-weight: 400;
  max-width: 50vw;
}
#mainHeadline h1{
  font-size: 64px;
  margin: 0;
}
#mainHeadline p{
  font-size: 24px;
  margin-top: 20px;
}
#mainHeadline-logo{
  width: auto;
  height: 312px;
  margin: 64px;
}

#mainHeadline-scrolldown{
    position: absolute;
    bottom: 0;
    margin: 0 auto;
    font-size: 48px;
    opacity: .5;
}

/****************/
#bottomHeader-content{
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  background-color: #000;
  border-bottom: 2px solid var(--easyWhite);
}
#grants{
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-items: center;
}
#grants *{
  width: auto;
  height: 120px;
  margin: 4px 8px;
}

#social-media{
  position: relative;
  display: flex;
  flex-direction: row;
  font-size: 40px;
}
#social-media a{
  margin: 0 15px;
}
#fb-logo{
  color: var(--facebook);
}
#tw-logo{
  color: var(--twitter);
}
#gp-logo{
  color: var(--googleplus);
}

/****************/
#majorMenu{
  width: 100%;
  background: var(--darkBlue);
  border-top: 2px solid var(--easyWhite);
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  text-transform: uppercase;
  font-family: Roboto;
  font-weight: 700;
  font-size: 18px;
}

.majorMenu-item{
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 20px 30px;
  text-decoration: none;
  color: var(--easyWhite);
  transition: .3s;
  text-align: center;
}
.majorMenu-icon{
  font-size: 28px;
  width: 72px;
  height: 72px;
  transition: .3s;
  border-radius: 50%;
  position: relative;
  margin: 0 auto 8px;
}
.majorMenu-icon::before{
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  position: absolute;
  border: 2px solid var(--easyWhite);
  border-radius: inherit;
}

.majorMenu-icon-stack{
  display: flex;
  align-items: center;
  justify-content: center;
}

.majorMenu-icon .contact-icons{
  margin: 0;
  display: inline-flex;
}

.majorMenu-item:hover .majorMenu-icon{
  color: var(--darkBlue);
  background: var(--easyWhite);
}

/****************/
#minorMenu{
  background: var(--pblue);
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}
#minorMenu a{
  color: var(--easyWhite);
  padding: 5px 30px;
  text-decoration: none;
  font-size: 18px;
  text-transform: uppercase;
}


/****************/
#page-content{
  background: var(--darkBlue);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
#page-content > *{
  max-width: 1700px;
}
.partHeadline{
  font-size: 30px;
  text-transform: uppercase;
  color: var(--easyWhite);
  width: 100%;
  border-bottom: 4px solid var(--easyWhite);

}
/****************/
#coursesGraduation-container{
  max-width: 1700px;
  min-width: 280px;
  margin: 25px 0;
}

#courses-graduation{
 background-color: var(--contentBlue);
 display: flex;
 flex-direction: row;
 flex-wrap: wrap;
 justify-content: center;
 margin: 10px auto;
 padding: 0 10px;
}
.course-info{
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: nowrap;
  min-height: 260px;
  min-width: 260px;
  margin: 20px 10px;
  /*padding: 2px;*/
  transition: .2s;
  text-decoration: none;
}
/*.course-info:hover{
  border: 2px solid var(--easyWhite);
  transition: .3s;
}*/
.course-icon{
  color: var(--easyWhite);
  font-size: 60px;
  margin: 0 auto 10px auto;
}
.course-name{
  color: var(--easyWhite);
  font-family: Roboto;
  font-weight: 900;
  font-size: 20px;
  max-width: 190px;
  text-transform: uppercase;
  text-align: center;
  margin: 0 auto;
}
.course-number{
  font-family: Roboto;
  font-size: 15px;
  color: var(--easyWhite);
  margin: 0 auto;
  text-align: center;
}
#course-IT{
  background-color: #18479B;
}
#course-IT:hover{
  background-color: #13397C;
}
#course-E{
  background-color: #EB1B25;
}
#course-E:hover{
  background-color: #87161C;
}
#course-ME{
  background-color: #710C08;
}
#course-ME:hover{
  background-color: #490705;
}
#course-EP{
  background-color: #139E5D;
}
#course-EP:hover{
  background-color: #0A7241;
}
#course-SC{
  background-color: #014618;
}
#course-SC:hover{
  background-color: #00230B;
}
#course-PE{
  background-color: #419219;
}
#course-PE:hover{
  background-color: #347513;
}
#coursesLearning-container{
  max-width: 580px;
  min-width: 280px;
  margin: 10px auto 10px 0;
}
#courses-learning{
  background-color: var(--contentBlue);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin: 15px auto;
  padding: 0 10px;
}
#course-El{
  background-color: #C99810;
}
#course-El:hover{
  background-color: #B0891D;
}
#course-M{
  background-color: #000000;
}
#course-M:hover{
  background-color: #080808;
}
#examsInfo-container{
  max-width: 1080px;
  margin: 10px 0 10px auto;
}
#exams-info{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  background-color: var(--contentBlue);
  padding: 25px 20px;
  margin: 15px auto;
  min-height: 250px;
}
.exams-article{
  max-width: 450px;
  margin: 0 30px;
  font-family: Roboto;
  font-size: 20px;
  color: var(--easyWhite);
}
.flex-container{
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  width: 100%;
}


/****************/

#articles-container{
  max-width: 1200px;
}

#articles-container article{
  background-color: var(--contentBlue);
  margin: 15px 0;
  padding: 30px 35px;
  display: flex;
}

.article-picture, .article-defaultImage{
  width: 240px;
  height: auto;
  border: 2px solid var(--easyWhite);
  flex-shrink: 0;
}
.article-defaultImage{
  border: 0;
  padding: 0 25px;
}

.article-content{
  color: var(--easyWhite);
  margin-left: 30px;
}

.article-head{
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  border-bottom: 2px solid var(--easyWhite);
  margin-bottom: 8px;
}

.article-headline{
  font-size: 24px;
}

.article-date{
  font-size: 18px;
}

.article-text{
  font-size: 18px;
  text-align: justify;
}
.article-readMore{
  color: var(--linkBlue);
  text-decoration: underline;
}

/****************/
#competitions-container{
  max-width: 400px;
}
#competitions{
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: var(--contentBlue);
  padding: 30px;
  margin: 15px auto;
}
.competitions-text{
  color: var(--easyWhite);
  font-family: Roboto;
  font-size: 20px;
  margin: 30px auto;
}
.competitions-line{
  width: 340px;
  color: var(--easyWhite);
  opacity: .25;
}

/****************/
#schoolProjects-container{
  max-width: 1700px;
  margin: 10px auto 35px auto;
}
#school-projects{
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: var(--contentBlue);
  padding: 35px 40px;
  margin: 15px auto;
}
#erasmus-logo{
  width: 250px;
  height: 71.58px;
  margin: 29px 25px;
}
#ropjv-logo{
  width: 300px;
  height: 121.12px;
  margin: auto 25px;
}
#cez-logo{
  width: 309px;
  height: 130.11px;
  margin: auto 25px;
}
#cr-logo{
  width: 238px;
  height: 55px;
  margin: 38px 25px;
}
#etwinning-logo{
  width: 323px;
  height: 98px;
  margin: 16px 25px;
}

