:root{
  --contentBlue: #00123E;
  --easyWhite: #EFEFEF;
  --lightBlue: #18479B;
  --linkBlue: #00B1FF;
  --darkBlue: #09152D;
  --tableBlue: #001C60;
  --facebook: #EFEFEF;
  --twitter: #1DA1F2;
  --googleplus: #DD4B39;
}
@font-face {
  font-family: Roboto;
  src: url(../fonts/Roboto-Regular.ttf);
}

@font-face {
  font-family: RobotoMedium;
  src: url(../fonts/Roboto-Medium.ttf);
}

@font-face {
  font-family: RobotoLight;
  src: url(../fonts/Roboto-Light.ttf);
}

@font-face {
  font-family: RobotoBold;
  src: url(../fonts/Roboto-Bold.ttf);
}
*{
  scroll-behavior: smooth;
}
header{
  display: flex;
  flex-direction: column;
  min-height: 42.5vw;
}
nav{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 20px 25px;
  padding-bottom: 0;
}
#nameLogo{
  display: flex;
  flex-direction: row;
  margin: auto;
  margin-left: 0;
}
#main-name{
  color: var(--easyWhite);
  font-family: RobotoMedium;
  font-size: 32px;
  margin: auto 0;
  margin-left: 19.5px;
}
#main-logo{
  margin: 0;
  width: 56.2px;
  height: 48px;
}
#mainInfo{
  display: flex;
  margin: auto;
}
.mainInfo-item{
  font-family: RobotoMedium;
  font-size: 24px;
  color: var(--easyWhite);
  padding-left: 20px;
  padding-right: 20px;
}
#mainInfo-centerItem{
  border-right: 3px solid var(--easyWhite);
  border-left: 3px solid var(--easyWhite);
}
#headerMenu{
  display: flex;
  margin: auto;
  margin-right: 0;
}
.headerMenu-item{
  display: flex;
  margin: auto 15.7px;
  font-size: 24px;
  font-family: RobotoMedium;
  color: var(--easyWhite);
  text-decoration: none;
}
.headerMenu-icon{
  font-size: 20px;
  margin: auto;
  margin-right: 5.5px;
}
.contact-icons{
  display: flex;
  flex-wrap: nowrap;
  margin-right: 5.5px;
  font-size: 15px;
}
.contact-icons .fa-map-marker-alt{
  margin-top: 2px;
}
.contact-icons .fa-phone{
  margin-top: 10px;
}
#mainHeadline{
  display: flex;
  margin: auto;
  justify-content: center;
}
#mainHeadline-text{
  color: var(--easyWhite);
  text-align: right;
  font-family: RobotoMedium;
  margin: auto;
  margin-right: 60px;
}
h1{
  font-size: 50px;
  max-width: 40vw;
  margin: 0;
}
#mainHeadline-address{
  font-size: 18px;
  margin-top: 20px;
  margin-bottom: 0;
  max-width: 40vw;
}
#mainHeadline-logo{
  width: 309.2px;
  height: 264px;
  margin: auto;
  margin-left: 0;
}
#bottomHeader-content{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0 50px;
}
#grants{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin: 0;
}
#logoEU{
  width: 459px;
  height: 121px;
}
#logoMSMT{
  width: 132px;
  height: 63px;
  margin: auto;
}
#logoJMK{
  width: 243.52px;
  height: 50px;
  margin: auto;
  margin-left: 40px;
}
#social-media{
  position: relative;
  display: flex;
  flex-direction: row;
  margin: auto;
  margin-right: 0;
  font-size: 40px;
}
#social-media a{
  margin: 0 15px;
}
#fb-logo{
  color: var(--facebook);
}
#tw-logo{
  color: var(--twitter);
}
#gp-logo{
  color: var(--googleplus);
}
#majorMenu{
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: auto;
  flex-wrap: wrap;
}
#majorMenu-container{
  background: var(--darkBlue);
  border-top: 3px solid var(--easyWhite);
}
.majorMenu-item{
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 20px 30px;
  text-decoration: none;
  color: var(--easyWhite);
  transition: .3s;
}
.majorMenu-icon{
  margin: auto;
  padding: 20px 22px;
  font-size: 32px;
  border: 5px solid var(--easyWhite);
  border-radius: 50px;
  transition: .3s;
}
.majorMenu-item:hover .majorMenu-icon{
  color: var(--darkBlue);
}
.majorMenu-item:hover .majorMenu-icon{
  background: var(--easyWhite);
}
.majorMenu-link{
  margin: auto;
  margin-top: 5px;
  text-transform: uppercase;
  font-family: RobotoMedium;
  font-size: 20px;
}
#majorMenu-coursesIcon{
  padding-left: 22px;
  padding-right: 22px;
}
#majorMenu-edupageIcon{
  padding-left: 16px;
  padding-right: 16px;
}
#majorMenu-lunchIcon{
  padding-left: 23px;
  padding-right: 23px;
}
#majorMenu-mailIcon{
  padding-left: 20px;
  padding-right: 20px;
}
#majorMenu-cloudIcon{
  padding-left: 16px;
  padding-right: 16px;
}
#majorMenu-scheludeIcon{
  padding-left: 20px;
  padding-right: 20px;
}
#majorMenu-moodleIcon{
  padding-left: 22px;
  padding-right: 22px;
}
#majorMenu-blogIcon{
  padding-left: 18px;
  padding-right: 18px;
}
.majorMenu-contactIcons{
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: auto;
  width: 44px;
  font-size: 26px;
  padding: 15px 14px;
  border: 5px solid var(--easyWhite);
  border-radius: 50px;
}
.majorMenu-contactIcons:hover{
  background: var(--easyWhite);
  transition: .3s;
}
.majorMenu-contactIcons:hover i{
  color: var(--darkBlue);
  transition: .3s;
}
#majorMenu-addressIcon{
  margin-bottom: 16px;
}
#majorMenu-phoneIcon{
  margin-top: 16px;
}
#minorMenu-container{
  background: var(--lightBlue);
}
#minorMenu{
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: auto;
  flex-wrap: wrap;
}
.minorMenu-item{
  color: var(--easyWhite);
  margin: 5px 30px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: nowrap;
}
.minorMenu-text{
  font-size: 18px;
  font-family: Roboto;
  text-transform: uppercase;
}
.minorMenu-icon{
  font-size: 15px;
  margin: auto;
  margin-left: 3px;
}
#page-content{
  background: var(--darkBlue);
  display: flex;
  flex-direction: column;
}
.partHeadline{
  margin: auto;
  font-family: RobotoMedium;
  font-size: 30px;
  text-transform: uppercase;
  color: var(--easyWhite);
  width: 100%;
  border-bottom: 5px solid var(--easyWhite);
}
#coursesGraduation-container{
  max-width: 1700px;
  min-width: 280px;
  margin: 25px auto;
}
#courses-graduation{
 background-color: var(--contentBlue);
 display: flex;
 flex-direction: row;
 flex-wrap: wrap;
 justify-content: center;
 margin: 10px auto;
 padding: 0 10px;
}
.course-info{
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: nowrap;
  min-height: 260px;
  min-width: 260px;
  margin: 20px 10px;
  /*padding: 2px;*/
  transition: .2s;
  text-decoration: none;
}
/*.course-info:hover{
  border: 2px solid var(--easyWhite);
  transition: .3s;
}*/
.course-icon{
  color: var(--easyWhite);
  font-size: 60px;
  margin: 0 auto 10px auto;
}
.course-name{
  color: var(--easyWhite);
  font-family: RobotoBold;
  font-size: 20px;
  max-width: 190px;
  text-transform: uppercase;
  text-align: center;
  margin: 0 auto;
}
.course-number{
  font-family: Roboto;
  font-size: 15px;
  color: var(--easyWhite);
  margin: 0 auto;
  text-align: center;
}
#course-IT{
  background-color: #18479B;
}
#course-IT:hover{
  background-color: #13397C;
}
#course-E{
  background-color: #EB1B25;
}
#course-E:hover{
  background-color: #87161C;
}
#course-ME{
  background-color: #710C08;
}
#course-ME:hover{
  background-color: #490705;
}
#course-EP{
  background-color: #139E5D;
}
#course-EP:hover{
  background-color: #0A7241;
}
#course-SC{
  background-color: #014618;
}
#course-SC:hover{
  background-color: #00230B;
}
#course-PE{
  background-color: #419219;
}
#course-PE:hover{
  background-color: #347513;
}
#coursesLearning-container{
  max-width: 580px;
  min-width: 280px;
  margin: 10px auto 10px 0;
}
#courses-learning{
  background-color: var(--contentBlue);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin: 15px auto;
  padding: 0 10px;
}
#course-El{
  background-color: #C99810;
}
#course-El:hover{
  background-color: #B0891D;
}
#course-M{
  background-color: #000000;
}
#course-M:hover{
  background-color: #080808;
}
#examsInfo-container{
  max-width: 1080px;
  margin: 10px 0 10px auto;
}
#exams-info{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  background-color: var(--contentBlue);
  padding: 25px 20px;
  margin: 15px auto;
  min-height: 250px;
}
.exams-article{
  max-width: 450px;
  margin: 0 30px;
  font-family: Roboto;
  font-size: 20px;
  color: var(--easyWhite);
}
.flex-container{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  min-width: 1700px;
  margin: auto;
}
.weblink{
  color: var(--linkBlue);
  text-decoration: underline;
}
.article-picture{
  width: 240px;
  height: 160px;
  margin: auto;
  border: 2px solid var(--easyWhite);
}
.article-defaultImage{
  width: 141px;
  height: 120px;
  margin: auto 50px;
}
article{
  background-color: var(--contentBlue);
  margin: 15px auto;
  padding: 30px 35px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
#articles-container{
  max-width: 1200px;
  margin: auto;
  margin-left: 0;
}
.article-content{
  color: var(--easyWhite);
  margin-left: 30px;
}
.article-head{
  display: flex;
  flex-direction: row;
  border-bottom: 2px solid var(--easyWhite);
}
.article-headline{
  font-family: RobotoMedium;
  font-size: 24px;
  margin: auto;
  margin-left: 0;
}
.article-date{
  font-family: Roboto;
  font-size: 18px;
  margin: auto;
  margin-right: 0;
}
.article-text{
  font-family: Roboto;
  font-size: 18px;
  max-width: 800px;
}
.article-readMore{
  color: var(--linkBlue);
  text-decoration: underline;
}
#competitions-container{
  max-width: 400px;
  margin: 10px 0 10px auto;
}
#competitions{
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: var(--contentBlue);
  padding: 30px;
  margin: 15px auto;
}
.competitions-text{
  color: var(--easyWhite);
  font-family: Roboto;
  font-size: 20px;
  margin: 30px auto;
}
.competitions-line{
  width: 340px;
  color: var(--easyWhite);
  opacity: .25;
}
#schoolProjects-container{
  max-width: 1700px;
  margin: 10px auto 35px auto;
}
#school-projects{
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: var(--contentBlue);
  padding: 35px 40px;
  margin: 15px auto;
}
#erasmus-logo{
  width: 250px;
  height: 71.58px;
  margin: 29px 25px;
}
#ropjv-logo{
  width: 300px;
  height: 121.12px;
  margin: auto 25px;
}
#cez-logo{
  width: 309px;
  height: 130.11px;
  margin: auto 25px;
}
#cr-logo{
  width: 238px;
  height: 55px;
  margin: 38px 25px;
}
#etwinning-logo{
  width: 323px;
  height: 98px;
  margin: 16px 25px;
}
#background{
  z-index: -1;
  width: 100%;
  height: 100%;
  position: fixed;
}
